@inherits UmbracoViewPage<ContactViewModel>
@using UmbracoCMS.Library.Models

<div id="form-outer">
    @using (Ajax.BeginForm("SubmitForm", "Contact", new AjaxOptions()
    {
        UpdateTargetId = "form-results",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "contactForm.showResult",
        OnFailure = "contactForm.showResult",
    }, new { id = "contact-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ValidationSummary()
        </div>

        <div class="form-group">    
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "FirstName",  @class="form-control" })
        </div>

        <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "LastName", @class="form-control" })
        </div>

        <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email", @class="form-control" })
        </div>

        <div class="form-group">
                @Html.LabelFor(m => m.Message)
                @Html.TextAreaFor(m => m.Message, new { placeholder = "Message", @class="form-control", row = 4 })
        </div>
        <button class="contact-submit">Submit</button>
    }
</div>
<div id="form-results"></div>